In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import sklearn.datasets
import sklearn.linear_model as lm
from sklearn.base import BaseEstimator
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.formula.api as smf

In [4]:
rogue_data = pd.read_csv('Rogue-142-Fall2021.csv')
rogue_data

,MonthNumeric,MonthFactor,Year,RogueSales,Unemployment,RogueQueries,CPIAll,CPIEnergy
0,1,January,2008,5435,5.0,18,212.174,226.775
1,2,February,2008,5223,4.9,11,212.687,229.731
2,3,March,2008,6873,5.1,18,213.448,233.349
3,4,April,2008,5814,5.0,17,213.942,234.778
4,5,May,2008,7467,5.4,17,215.208,243.924
...,...,...,...,...,...,...,...,...
157,2,February,2021,27750,6.2,95,263.161,218.946
158,3,March,2021,31219,6.0,100,264.793,229.886
159,4,April,2021,32270,6.1,100,266.832,229.658
160,5,May,2021,31029,5.8,96,268.551,229.630
161,6,June,2021,32270,5.9,100,270.981,232.995

## 1a)

In [5]:
rogue_train = rogue_data[rogue_data['Year'] <= 2015][['Unemployment', 'RogueQueries', 'CPIEnergy', 'CPIAll','RogueSales']]
##rogue_val = rogue_data[rogue_data['Year'] <= 2015][['RogueSales']]
rogue_test_A = rogue_data[(rogue_data['Year'] > 2015) & (rogue_data['Year'] <= 2019)][['MonthFactor','Unemployment', 'RogueQueries', 'CPIEnergy', 'CPIAll','RogueSales']]
rogue_test_B = rogue_data[rogue_data['Year'] > 2019][['MonthFactor','Unemployment', 'RogueQueries', 'CPIEnergy', 'CPIAll','RogueSales']]

display(rogue_train.head(), rogue_test_A.head(), rogue_test_B.head())

   Unemployment  RogueQueries  CPIEnergy   CPIAll  RogueSales
0           5.0            18    226.775  212.174        5435
1           4.9            11    229.731  212.687        5223
2           5.1            18    233.349  213.448        6873
3           5.0            17    234.778  213.942        5814
4           5.4            17    243.924  215.208        7467

    MonthFactor  Unemployment  RogueQueries  CPIEnergy   CPIAll  RogueSales
96      January           4.8            50    185.235  237.652       19762
97     February           4.9            52    176.401  237.336       21561
98        March           5.0            48    182.234  238.080       27713
99        April           5.1            46    186.713  238.992       23173
100         May           4.8            51    188.596  239.557       27428

    MonthFactor  Unemployment  RogueQueries  CPIEnergy   CPIAll  RogueSales
144     January           3.5            78    219.117  258.687       19396
145    February           3.5            80    213.963  258.824       25111
146       March           4.4            58    202.995  257.989       15210
147       April          14.8            45    183.788  256.192        8505
148         May          13.3            67    179.610  255.942       18900

In [6]:
train, val = train_test_split(rogue_train, test_size = 0.15, random_state = 42)
display(len(train), len(val))

81

15

In [7]:
ols_1 = smf.ols(formula = 'RogueSales ~ Unemployment + RogueQueries + CPIEnergy + CPIAll', data = train)
model_1 = ols_1.fit()
print(model_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.785
Model:                            OLS   Adj. R-squared:                  0.774
Method:                 Least Squares   F-statistic:                     69.51
Date:                Wed, 22 Sep 2021   Prob (F-statistic):           1.25e-24
Time:                        18:33:31   Log-Likelihood:                -761.86
No. Observations:                  81   AIC:                             1534.
Df Residuals:                      76   BIC:                             1546.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept    -6.895e+04    1.7e+04     -4.049      0.000   -1.03e+05    -3.5e+04
Unemployment  -128.0029    298.442     -0.429      0.669    -722.402     466.397
RogueQueries   184.0376     70.079      2.626      0.010      44.464     323.612
CPIEnergy      -65.7678     18.147     -3.624      0.001    -101.911     -29.625
CPIAll         407.9559     92.759      4.398      0.000     223.210     592.702
==============================================================================
Omnibus:                       55.777   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              373.388
Skew:                           1.925   Prob(JB):                     8.31e-82
Kurtosis:                      12.788   Cond. No.                     1.63e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.63e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [8]:
def VIF(df, columns):
    values = sm.add_constant(df[columns]).values
    num_columns = len(columns)+1
    vif = [variance_inflation_factor(values, i) for i in range(num_columns)]
    return pd.Series(vif[1:], index=columns)

cols = ['Unemployment', 'RogueQueries', 'CPIEnergy', 'CPIAll']
VIF(train, cols)

/opt/conda/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

Unemployment    2.031353
RogueQueries    6.805939
CPIEnergy       1.649399
CPIAll          5.615907
dtype: float64

In [9]:
ols_2 = smf.ols(formula = 'RogueSales ~ Unemployment + CPIEnergy + CPIAll', data = train)
model_2 = ols_2.fit()
print(model_2.summary())

cols = ['Unemployment', 'CPIEnergy', 'CPIAll']
VIF(train, cols)

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.766
Model:                            OLS   Adj. R-squared:                  0.757
Method:                 Least Squares   F-statistic:                     83.95
Date:                Wed, 22 Sep 2021   Prob (F-statistic):           3.30e-24
Time:                        18:33:31   Log-Likelihood:                -765.38
No. Observations:                  81   AIC:                             1539.
Df Residuals:                      77   BIC:                             1548.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept    -1.015e+05   1.21e+04     -8.390      0.000   -1.26e+05   -7.74e+04
Unemployment  -557.4248    259.043     -2.152      0.035   -1073.245     -41.605
CPIEnergy      -92.6373     15.551     -5.957      0.000    -123.604     -61.671
CPIAll         614.7388     50.876     12.083      0.000     513.431     716.047
==============================================================================
Omnibus:                       43.787   Durbin-Watson:                   1.778
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              192.447
Skew:                           1.574   Prob(JB):                     1.62e-42
Kurtosis:                       9.864   Cond. No.                     1.11e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.11e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/conda/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

Unemployment    1.421546
CPIEnergy       1.125091
CPIAll          1.569258
dtype: float64

In [23]:
def OSR2(model, df_train, df_test, dependent_var):   
    y_test = df_test[dependent_var]
    y_pred = model.predict(df_test)
    SSE = np.sum((y_test - y_pred)**2)
    SST = np.sum((y_test - np.mean(df_train[dependent_var]))**2)    
    return 1 - SSE/SST

In [11]:
OSR2(model_2, train, val, 'RogueSales')

0.8448826212090333

In [12]:
OSR2(model_2, train, rogue_test_A, 'RogueSales')

0.8872523114510952

In [13]:
OSR2(model_2, train, rogue_test_B, 'RogueSales')

-0.2535698276625966

## 1b)

In [14]:
rogue_train_month = rogue_data[rogue_data['Year'] <= 2015][['MonthFactor','Unemployment', 'RogueQueries', 'CPIEnergy', 'CPIAll','RogueSales']]
train_month, val_month = train_test_split(rogue_train_month, test_size = 0.15, random_state = 42)

In [22]:
ols_3 = smf.ols(formula = 'RogueSales ~ MonthFactor + Unemployment + RogueQueries + CPIEnergy + CPIAll', data = train_month)
model_3 = ols_3.fit()
print(model_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.844
Model:                            OLS   Adj. R-squared:                  0.808
Method:                 Least Squares   F-statistic:                     23.50
Date:                Wed, 22 Sep 2021   Prob (F-statistic):           1.40e-20
Time:                        18:35:43   Log-Likelihood:                -748.84
No. Observations:                  81   AIC:                             1530.
Df Residuals:                      65   BIC:                             1568.
Df Model:                          15
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                -8.284e+04   1.69e+04     -4.890      0.000   -1.17e+05    -4.9e+04
MonthFactor[T.August]     3023.6103   1549.505      1.951      0.055     -70.965    6118.185
MonthFactor[T.Decemeber]   982.7678   1411.467      0.696      0.489   -1836.127    3801.663
MonthFactor[T.February]   3174.8387   1450.175      2.189      0.032     278.638    6071.039
MonthFactor[T.January]   -1468.5908   1469.225     -1.000      0.321   -4402.835    1465.654
MonthFactor[T.July]       1169.6868   1640.235      0.713      0.478   -2106.089    4445.462
MonthFactor[T.June]        844.9693   1455.994      0.580      0.564   -2062.852    3752.791
MonthFactor[T.March]      3911.9523   1410.841      2.773      0.007    1094.309    6729.596
MonthFactor[T.May]        2092.5236   1520.649      1.376      0.174    -944.423    5129.470
MonthFactor[T.November]   -406.4724   1530.083     -0.266      0.791   -3462.258    2649.313
MonthFactor[T.October]     104.2897   1523.468      0.068      0.946   -2938.285    3146.865
MonthFactor[T.Septeber]    688.2772   1450.162      0.475      0.637   -2207.897    3584.451
Unemployment              -120.1559    285.963     -0.420      0.676    -691.264     450.952
RogueQueries               143.9363     71.781      2.005      0.049       0.580     287.293
CPIEnergy                  -73.6315     17.976     -4.096      0.000    -109.533     -37.730
CPIAll                     476.3531     93.776      5.080      0.000     289.070     663.636
==============================================================================
Omnibus:                       56.332   Durbin-Watson:                   1.834
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              393.556
Skew:                           1.930   Prob(JB):                     3.47e-86
Kurtosis:                      13.085   Cond. No.                     1.76e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.76e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
OSR2(model_3, train_month, val_month, 'RogueSales')

0.8678036276015989

In [17]:
OSR2(model_3, train_month, rogue_test_A, 'RogueSales')

0.90763329508117

In [18]:
OSR2(model_3, train_month, rogue_test_B, 'RogueSales')

-0.7553925283349923

## 1c)

In [24]:
rogue_train_comb = rogue_data[rogue_data['Year'] <= 2015][['MonthFactor', 'Unemployment', 'CPIEnergy', 'CPIAll','RogueSales']]
train_comb, val_comb = train_test_split(rogue_train_month, test_size = 0.15, random_state = 42)

In [25]:
ols_4 = smf.ols(formula = 'RogueSales ~ MonthFactor + Unemployment + CPIEnergy + CPIAll', data = train_comb)
model_4 = ols_4.fit()
print(model_4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.835
Model:                            OLS   Adj. R-squared:                  0.800
Method:                 Least Squares   F-statistic:                     23.80
Date:                Wed, 22 Sep 2021   Prob (F-statistic):           1.83e-20
Time:                        18:59:41   Log-Likelihood:                -751.28
No. Observations:                  81   AIC:                             1533.
Df Residuals:                      66   BIC:                             1568.
Df Model:                          14
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                -1.087e+05   1.12e+04     -9.687      0.000   -1.31e+05   -8.63e+04
MonthFactor[T.August]     3677.8491   1549.044      2.374      0.021     585.083    6770.616
MonthFactor[T.Decemeber]   733.5937   1437.804      0.510      0.612   -2137.074    3604.262
MonthFactor[T.February]   3127.7219   1482.798      2.109      0.039     167.221    6088.223
MonthFactor[T.January]   -1018.6889   1484.850     -0.686      0.495   -3983.288    1945.911
MonthFactor[T.July]       1696.5574   1655.692      1.025      0.309   -1609.138    5002.253
MonthFactor[T.June]       1142.7921   1481.176      0.772      0.443   -1814.471    4100.055
MonthFactor[T.March]      4289.0040   1429.896      3.000      0.004    1434.124    7143.884
MonthFactor[T.May]        2243.6198   1553.151      1.445      0.153    -857.346    5344.586
MonthFactor[T.November]   -636.8345   1560.291     -0.408      0.684   -3752.056    2478.387
MonthFactor[T.October]    -247.2019   1547.596     -0.160      0.874   -3337.078    2842.674
MonthFactor[T.Septeber]    758.1069   1482.551      0.511      0.611   -2201.902    3718.116
Unemployment              -444.7334    241.077     -1.845      0.070    -926.058      36.592
CPIEnergy                  -95.8967     14.457     -6.633      0.000    -124.761     -67.032
CPIAll                     640.1081     47.139     13.579      0.000     545.992     734.224
==============================================================================
Omnibus:                       47.578   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              266.740
Skew:                           1.628   Prob(JB):                     1.20e-58
Kurtosis:                      11.272   Cond. No.                     1.14e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.14e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [26]:
OSR2(model_4, train_comb, val_comb, 'RogueSales')

0.8943409970710554

In [27]:
OSR2(model_4, train_comb, rogue_test_A, 'RogueSales')

0.9015844060375029

In [28]:
OSR2(model_4, train_comb, rogue_test_B, 'RogueSales')

-0.439865503143672

## 1d)

In [22]:
inv_sales_ratio = pd.read_csv('inventory_sales.csv')
inv_sales_ratio

     MonthNumeric MonthFactor  Year  InventoryToSales
0               1     January  2009              4.64
1               2    February  2009              4.57
2               3       March  2009              4.09
3               4       April  2009              4.01
4               5         May  2009              3.58
..            ...         ...   ...               ...
143            12    December  2020              1.88
144             1     January  2021              1.76
145             2    February  2021              1.84
146             3       March  2021              1.35
147             4       April  2021              1.03

[148 rows x 4 columns]

In [23]:
modified_rogue = rogue_data[rogue_data['Year'] > 2008].reset_index()
modified_rogue = modified_rogue.iloc[0:148,:]
modified_rogue['InventoryToSalesRatio'] = inv_sales_ratio['InventoryToSales']
modified_rogue

,index,MonthNumeric,MonthFactor,Year,RogueSales,Unemployment,RogueQueries,CPIAll,CPIEnergy,InventoryToSalesRatio
0,12,1,January,2009,5802,7.8,15,211.933,178.661,4.64
1,13,2,February,2009,5515,8.3,13,212.705,183.721,4.57
2,14,3,March,2009,6982,8.7,14,212.495,178.415,4.09
3,15,4,April,2009,4758,9.0,14,212.709,177.552,4.01
4,16,5,May,2009,8287,9.4,11,213.022,179.830,3.58
...,...,...,...,...,...,...,...,...,...,...
143,155,12,Decemeber,2020,23338,6.7,91,261.560,203.716,1.88
144,156,1,January,2021,27750,6.3,90,262.231,210.822,1.76
145,157,2,February,2021,27750,6.2,95,263.161,218.946,1.84
146,158,3,March,2021,31219,6.0,100,264.793,229.886,1.35
147,159,4,April,2021,32270,6.1,100,266.832,229.658,1.03

In [24]:
mod_rogue_train = modified_rogue[modified_rogue['Year'] <= 2015][['MonthFactor', 'InventoryToSalesRatio','Unemployment', 'CPIEnergy', 'CPIAll','RogueSales']]
train_mod, val_mod = train_test_split(mod_rogue_train, test_size = 0.15, random_state = 42)

In [25]:
mod_rogue_test_A = modified_rogue[(modified_rogue['Year'] > 2015) & (modified_rogue['Year'] <= 2019)][['MonthFactor','InventoryToSalesRatio','Unemployment', 'RogueQueries', 'CPIEnergy', 'CPIAll','RogueSales']]
mod_rogue_test_B = modified_rogue[modified_rogue['Year'] > 2019][['MonthFactor','InventoryToSalesRatio','Unemployment', 'RogueQueries', 'CPIEnergy', 'CPIAll','RogueSales']]

In [26]:
train_mod

,MonthFactor,InventoryToSalesRatio,Unemployment,CPIEnergy,CPIAll,RogueSales
81,October,2.50,5.0,195.616,237.733,24939
55,August,2.59,7.2,244.833,233.456,17273
54,July,2.46,7.3,242.986,232.900,16992
33,October,2.04,8.8,246.655,226.750,10034
76,May,2.60,5.6,208.973,237.001,25901
...,...,...,...,...,...,...
20,Septeber,2.66,9.5,209.832,218.275,8319
60,January,2.92,6.6,250.340,235.288,13831
71,Decemeber,2.52,5.6,218.536,236.252,14879
14,March,2.37,9.9,209.326,217.353,8395
51,April,2.48,7.6,240.473,231.797,11904

In [27]:
ols_5 = smf.ols(formula = 'RogueSales ~ MonthFactor + InventoryToSalesRatio + Unemployment + CPIEnergy + CPIAll', data = train_mod)
model_5 = ols_5.fit()
print(model_5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.858
Model:                            OLS   Adj. R-squared:                  0.820
Method:                 Least Squares   F-statistic:                     22.24
Date:                Tue, 21 Sep 2021   Prob (F-statistic):           4.73e-18
Time:                        23:04:49   Log-Likelihood:                -652.00
No. Observations:                  71   AIC:                             1336.
Df Residuals:                      55   BIC:                             1372.
Df Model:                          15
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                -2.875e+04    7.4e+04     -0.389      0.699   -1.77e+05    1.19e+05
MonthFactor[T.August]     3391.3241   1446.968      2.344      0.023     491.536    6291.112
MonthFactor[T.Decemeber]   341.6426   1588.916      0.215      0.831   -2842.617    3525.902
MonthFactor[T.February]   4324.9912   1510.259      2.864      0.006    1298.365    7351.617
MonthFactor[T.January]   -1159.3239   1575.591     -0.736      0.465   -4316.879    1998.231
MonthFactor[T.July]       2085.7033   1497.391      1.393      0.169    -915.136    5086.543
MonthFactor[T.June]       1077.5238   1497.780      0.719      0.475   -1924.094    4079.142
MonthFactor[T.March]      4579.9149   1433.829      3.194      0.002    1706.458    7453.372
MonthFactor[T.May]        2895.4047   1574.249      1.839      0.071    -259.460    6050.269
MonthFactor[T.November]    354.1680   1872.215      0.189      0.851   -3397.835    4106.171
MonthFactor[T.October]    -195.0190   1441.566     -0.135      0.893   -3083.981    2693.943
MonthFactor[T.Septeber]    644.6046   1438.578      0.448      0.656   -2238.371    3527.580
InventoryToSalesRatio    -3584.0092   1083.166     -3.309      0.002   -5754.723   -1413.296
Unemployment             -1917.6675   1459.522     -1.314      0.194   -4842.614    1007.279
CPIEnergy                  -92.9514     41.296     -2.251      0.028    -175.710     -10.193
CPIAll                     376.0847    304.505      1.235      0.222    -234.156     986.326
==============================================================================
Omnibus:                       29.547   Durbin-Watson:                   2.297
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              132.661
Skew:                           1.017   Prob(JB):                     1.56e-29
Kurtosis:                       9.380   Cond. No.                     7.52e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.52e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [28]:
OSR2(model_5, train_mod, val_mod, 'RogueSales')

0.7246876934105222

In [29]:
OSR2(model_5, train_mod, mod_rogue_test_A, 'RogueSales')

0.8790521605120256

In [30]:
OSR2(model_5, train_mod, mod_rogue_test_B, 'RogueSales')

-0.006927597365599558